<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCNKVDnI2i6C0tBOm-Plle5Wg4BIoD1dGs</string>
	<key>GCM_SENDER_ID</key>
	<string>543819470636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.attendanceApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>attendance-app-de676</string>
	<key>STORAGE_BUCKET</key>
	<string>attendance-app-de676.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543819470636:ios:4fee48a909a8a11b8efe89</string>
</dict>
</plist>